.country {
    border: 2px solid salmon;
    background-color: bisque;
    color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.country-visited{
    background-color: aquamarine;
}